{% extends "base.html" %}
{% block title %}Peri Planner | Lesson Logs {% endblock %}
{% block content %}
<!--
<div class="container">
-->
<h1>Lesson Logs</h1>
<h2>{{ student.first_name }} {{ student.last_name }}</h2>
<h2>{{ student.activity }}</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th scope="col">Lesson Time</th>
      <th scope="col">Location</th>
      <th scope="col">Lesson Plan</th>
      <th scope="col">Lesson Comments</th>
      <th scope="col">Homework</th>
      <th scope="col">Action</th>
    </tr>
    <tr>
      <form action="{{ url_for('handle_new_lessons') }}" method=post id="new lesson">
	{{ form.csrf_token() }}
	<td>{{ form.lesson_time(placeholder="yyyy/m/d h:m") }}</td>
	<td>{{ form.location(placeholder="lesson location") }}</td>
	<td>{{ form.plan(placeholder="What you plan to cover in the lesson") }}</td>
	<td>{{ form.comments(placeholder="Comments on how the lesson went") }}</td>
	<td>{{ form.homework(placeholder="Any homework assigned") }}</td>
	<td>{{ form.new_lesson(value="New log") }} {{ form.std_id(value=student.id) }}</td>
      </form>
    </tr>
    {% for lesson in lessons %}
    <tr>
      <td>{{ lesson.lesson_time }}</td>
      <td>{{ lesson.location }}</td>
      <td>{{ lesson.plan }}</td>
      <td>{{ lesson.comments }}</td>
      <td>{{ lesson.homework }}</td>
      <td>
	<a class="btn btn-primary" href="{{ url_for('handle_update_lessons', lesson_id=lesson.id) }}" role="button">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
